IOT_Sensor_Data_Analsysis_With_ML.json
[{"id":"227fab12.4e9514","type":"tab","label":"IOT sensor Data analysis using M/L","disabled":false,"info":""},{"id":"539fbb6a.66cd64","type":"http request","z":"227fab12.4e9514","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://iam.cloud.ibm.com/identity/token","tls":"","persist":false,"proxy":"","authType":"","x":390,"y":400,"wires":[["a7d9dc6.18d3c2","3b1ad914.eeb146"]]},{"id":"bb73fa43.c807a8","type":"function","z":"227fab12.4e9514","name":"Pre-token","func":"global.set(\"temperature\",msg.payload.temperature)\nglobal.set(\"humidity\",msg.payload.humidity)\nglobal.set(\"wind\",msg.payload.wind)\nvar apikey=\"WvdjtUq_Q2e3LUeTas885pZxdjsHcOuP82ILPUnAoAQ1\";\nmsg.headers={\"content-type\":\"application/x-www-form-urlencoded\"}\nmsg.payload={\"grant_type\":\"urn:ibm:params:oauth:grant-type:apikey\",\"apikey\":apikey}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":280,"y":300,"wires":[["539fbb6a.66cd64"]]},{"id":"a7d9dc6.18d3c2","type":"function","z":"227fab12.4e9514","name":"Pre-Prediction","func":"var temperature = global.get(\"temperature\")\nvar humidity = global.get(\"humidity\")\nvar wind = global.get(\"wind\")\nvar token=msg.payload.access_token\nmsg.headers={'Content-Type': 'application/json',\"Authorization\":\"Bearer \"+token,\"Accept\":\"application/json\"}\nmsg.payload={\"input_data\":[{\"fields\": [[\"temperature\", \"humidity\", \"wind\"]],\"values\": [[temperature,humidity,wind]]}]}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":610,"y":360,"wires":[["d824f952.2f6f68"]]},{"id":"3b1ad914.eeb146","type":"debug","z":"227fab12.4e9514","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":620,"y":500,"wires":[]},{"id":"4a3dd2f7.6adf5c","type":"function","z":"227fab12.4e9514","name":"","func":"var temperature = global.get ('temperature')\nvar humidity = global.get ('humidity')\nvar wind = global.get ('wind')\nvar output=msg.payload.predictions[0].values[0][0]\nglobal.set(\"ouptut\",output)\nmsg.payload = {\n temperature: temperature,\n humidity: humidity,\n wind: wind,\n Rainfall: output\n}\nreturn msg;\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":730,"y":280,"wires":[["8c7509bf.502628","8fd57316.ef57c"]]},{"id":"d824f952.2f6f68","type":"http request","z":"227fab12.4e9514","name":"","method":"POST","ret":"obj","paytoqs":"ignore","url":"https://us-south.ml.cloud.ibm.com/ml/v4/deployments/68130688-4be8-4a8b-b4a6-1ff2b18d6090/predictions?version=2020-09-01","tls":"","persist":false,"proxy":"","authType":"","x":780,"y":420,"wires":[["4a3dd2f7.6adf5c","dcce1e9d.d229e"]]},{"id":"dcce1e9d.d229e","type":"debug","z":"227fab12.4e9514","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":500,"wires":[]},{"id":"8fd57316.ef57c","type":"debug","z":"227fab12.4e9514","name":"","active":true,"tosidebar":true,"console":false,"tostatus":false,"complete":"payload","targetType":"msg","statusVal":"","statusType":"auto","x":950,"y":300,"wires":[]},{"id":"8c7509bf.502628","type":"ui_text","z":"227fab12.4e9514","group":"fc6b2677.d90468","order":6,"width":"17","height":"2","name":"","label":"Rainfall Prediction:","format":"{{msg.payload}}","layout":"row-left","x":970,"y":220,"wires":[]},{"id":"c581978c.7e5808","type":"inject","z":"227fab12.4e9514","name":"","props":[{"p":"payload"},{"p":"topic","vt":"str"}],"repeat":"","crontab":"","once":false,"onceDelay":0.1,"topic":"","payload":"","payloadType":"date","x":80,"y":320,"wires":[["bb73fa43.c807a8"]]},{"id":"dfe7972c.467408","type":"ui_gauge","z":"227fab12.4e9514","name":"","group":"fc6b2677.d90468","order":1,"width":"5","height":"5","gtype":"gage","title":"humidity","label":"Degree","format":"{{msg.payload.humidity}}","min":"50","max":"100","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":470,"y":100,"wires":[]},{"id":"a89dd766.4f17a8","type":"ui_gauge","z":"227fab12.4e9514","name":"","group":"fc6b2677.d90468","order":3,"width":"5","height":"5","gtype":"gage","title":"wind","label":"units","format":"{{msg.payload.wind}}","min":0,"max":"40","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":460,"y":160,"wires":[]},{"id":"bd5a8194.849a1","type":"ui_gauge","z":"227fab12.4e9514","name":"","group":"fc6b2677.d90468","order":4,"width":"5","height":"5","gtype":"gage","title":"temperature","label":"","format":"{{msg.payload.temperature}}","min":"15","max":"50","colors":["#00b500","#e6e600","#ca3838"],"seg1":"","seg2":"","x":500,"y":60,"wires":[]},{"id":"fe0823d7.a0f7b","type":"ibmiot in","z":"227fab12.4e9514","authentication":"apiKey","apiKey":"3c9d6fc5.d67db","inputType":"evt","logicalInterface":"","ruleId":"","deviceId":"IOT_ML_1001","applicationId":"","deviceType":"IOT_ML","eventType":"Rainfall Prediction","commandType":"","format":"json","name":"IBM IoT","service":"registered","allDevices":true,"allApplications":"","allDeviceTypes":true,"allLogicalInterfaces":"","allEvents":true,"allCommands":"","allFormats":"","qos":0,"x":220,"y":160,"wires":[["bd5a8194.849a1","dfe7972c.467408","a89dd766.4f17a8","bb73fa43.c807a8"]]},{"id":"fc6b2677.d90468","type":"ui_group","z":"","name":"IoT Sensor Data analysis using M/L","tab":"2e6f4fde.045ce","order":3,"disp":true,"width":"17","collapse":false},{"id":"3c9d6fc5.d67db","type":"ibmiot","z":"","name":"API Key","keepalive":"60","serverName":"4w9nk3.messaging.internetofthings.ibmcloud.com","cleansession":true,"appId":"","shared":false},{"id":"2e6f4fde.045ce","type":"ui_tab","z":"","name":"Analysis","icon":"dashboard","disabled":false,"hidden":false}]